<div>
  <div class="banner">
    <div class="title">
      <h1>How Much College Really Costs, and How to Make the Right Choice For Your Budget</h1>
      <br>
      <hr>
      <br>
      <p>Learn about the average cost of college By living experiences and how your choice might affect the annual costs</p>
    </div>
    <div class="buttons">
      <input class="btn" type="button" value="B1" />
      <input class="btn" type="button" value="B2" />
      <input class="btn" type="button" value="B3" />
    </div>
  </div>

  <div class="tableContainer">
    <table class="table" >
      <tr class = "headRow">
        <th>#</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email ID</th>
      </tr>
      <ng-container *ngFor="let user of users">
        <tr style="text-align: center;">
          <td class="id">{{user.id}}</td>
          <td>{{user.first_name}}</td>
          <td>{{user.last_name}}</td>
          <td>{{user.email}}</td>
        </tr>
      </ng-container>
    </table>
  </div>
</div>